*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3{
    color: rgb(26, 25, 25);
}

body{
    font-family: 'Lato', sans-serif;
}

h3,h4{
    font-weight: 400;
    color: rgb(100, 100, 100);
}
@import "./song";
@import "./player";
@import "./library";
@import "./nav";